# App's running port
PORT="4000"

# Application URL (for CORS too)
APP_URL="http://localhost:4000"

# Secret key
# Note: This value will be used in JSON Web Token (ie. JWT)
APP_SECRET="1242#$%$^%!@@$!%*(%^jnadkjcn"

# App's API prefix
API_PREFIX="v1"

# App's version number
API_VERSION="1.0.0"

# JSON Web Token expiry time
# Note: in minutes
JWT_EXPIRES_IN=86400

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://{username}:{password}@localhost:5432/{database}?schema=public"

# For Facebook login
FB_APP_ID="facebook client id"
FB_APP_SECRET="facebook client secret"

# For Google login
G_APP_ID="google client id"
G_APP_SECRET="google client secret"

# NODEMAILER
# This is the email address that will be used to send emails
MAILER_USER="example@gmail.com"
MAILER_PASS="generated password here"

